body {
    background-color: #faf1e6;
    color: #01937c;
    text-align: center;
}

footer {
    text-align: center;
    color: crimson;
}

h1 {
    padding-top: 2%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #5F939A;
}

h3 {
    margin-bottom: 0.5%;
    color: #334756;
    font-weight: bold;
}

h6 {
    position: absolute;
    bottom: 0px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
}

.item {
    padding: 0.5% 3%;
}

.top-part {
    background-color: #e5b299;
}

.km-radio {
    display: inline-block;
    vertical-align: top;
}

.my-input {
    display: inline-block;
    text-align: center;
    margin: 0.4%;
    border-radius: 5px;
    border-width: 0.2px;
}

.my-input:hover {
    transform: scale(102%);
    border-radius: 5px;
    border-width: 0.2px;
}

.my-input:focus {
    transform: scale(102%);
    border-radius: 5px;
    border-width: 0.2px;
}

.reset-button {
    position: relative;
    margin-bottom: 1%;
    text-align: center;
}

.my-button {
    background-color: #5F939A;
    color: white;
}

.bottom-button {
    background-color: #5F939A;
    color: white;
    margin-bottom: 2%;
}

.my-button:hover {
    color: black;
}

.radio {
    display: inline;
}

.radio:hover {
    transform: scale(120%);
}

.another-button {
    padding: 2% 2%;
}

.race-p {
    padding: 1% 1% 1%;
}

.form-fields {
    padding: 1% 1%;
}

.copyright {
    position: absolute;
    width: 300px;
    left:50%;
    top: 100%;
    margin-left:-150px;
}

.form {
    padding: 2% 2%;
    display: inline-block;
    size: 50%;
}

.home-button {
    padding: 3%;
}


.upcoming-race {
    padding: 3%;
}

.footer {
    padding-top: 2%;
}
