<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
<head>
{% include "header.html" %}
</head>
<body>
<div class="card top-part">
    <h1>Upcoming Races:</h1>
    <div class="card">
        {% for race in current_user.races %}
        <p class="race-p">{{race.date}} - {{race.title}} <a href="{{url_for('delete_race', race_id=race.id) }}">✘</a></p>
        {% endfor %}

    </div>
<div class="add-form">
    {{ wtf.quick_form(form, novalidate=True) }}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
</div>
</div>
<div class="card">
    <a href="{{url_for('home')}}"><button class="btn my-button">Home</button></a>
</div>

</body>
<footer>
{% include "footer.html" %}
</footer>
</html>